:root {
    --color-green: #045B4B;
    --color-yellow: #F1FF74;
    --color-hover: #e8f857;
    --color-dark: #043D33;

    --font-accent: 'Tai Heritage Pro', serif;
    --font-main: 'Inter', sans-serif;

    --font-large: 30px;
    --font-medium: 20px;
    --font-small: 14px;

    --border-radius: 38px;

    --padding-button: 10px 20px;
    --padding-page: 20px 80px;
    --padding: 20px;

    /* Doplnené vlastnosti */
    --color-accent: var(--color-yellow);
    --color-primary: var(--color-green);
    --color-accent-hover: #e7f768;

    --padding-link: 10px 20px;
    --border-radius-pill: 9999px;
    --gap-links: 15px;
    --padding-navbar: 20px 40px;
}

body {
    margin: 0;
    padding: 70px 0 0 0;
    font-family: var(--font-main);
    background-color: var(--color-green);
    color: var(--color-yellow);
}

.button {
    background-color: var(--color-yellow);
    color: var(--color-green);
    text-decoration: none;
    padding: var(--padding-button);
    border-radius: var(--border-radius);
    font-size: var(--font-medium);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-hover);
}

.dark-button {
    background-color: var(--color-green);
    color: var(--color-yellow);
}

.dark-button:hover {
    background-color: var(--color-dark);
}




section {
    margin-bottom: 70px;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-page);
    font-family: var(--font-main);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar .brand a {
    color: var(--color-yellow);
    text-decoration: none;
    font-size: var(--font-large);
    font-family: var(--font-accent);
}

.navbar .links {
    display: flex;
    gap: var(--gap-links);
}


.navbar.light .button {
    background-color: var(--color-yellow);
    color: var(--color-green);
}

.navbar.light .brand a {
    color: var(--color-yellow);
}


.navbar.dark .button {
    background-color: var(--color-green);
    color: var(--color-yellow);
}

.navbar.dark .brand a {
    color: var(--color-green);
}





.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, auto);
    gap: 20px;
}

.grid-item {
    background-color: var(--color-dark);
    color: var(--color-yellow);
    border-radius: var(--border-radius);
    font-family: var(--font-main);
    padding: var(--padding);
    overflow: hidden;
    position: relative;
}

.grid-item.image {
    padding: 0;
}

.grid-item.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.grid-item.image:hover img {
    transform: scale(1.05);
}

.grid-item.text {
    font-size: var(--font-medium);
    display: flex;
}

.grid-item.label {
    font-size: var(--font-large);
    font-family: var(--font-accent);
    background-color: var(--color-yellow);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item i {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-yellow);
    color: var(--color-green);
    border-radius: var(--border-radius);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-large);
}

.grid-item p,
.grid-item h2 {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: var(--font-medium);
    font-weight: normal;
}





.hero {
    padding: var(--padding-page);
    padding-top: 40px;
}

.services {
    padding: var(--padding-page);
}

.gallery {
    padding: var(--padding-page);
}

.about {
    padding: var(--padding-page);
}

.pricing {
    padding: var(--padding-page);
}

.banner {
    background-color: var(--color-yellow);
    color: var(--color-green);
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-family: var(--font-main);
    font-size: var(--font-medium);
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--padding)
}

.banner h1 {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: var(--font-medium);
    font-weight: normal;
}

.highlight {
    font-family: var(--font-accent);
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-green);
}


.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: var(--padding);
    border-radius: var(--border-radius);
}

.gallery .container {
    background-color: var(--color-dark);
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.gallery img {
    min-width: 300px;
    height: 400px;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.gallery .slider::-webkit-scrollbar {
    height: 0px;
}

.gallery .slider-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: var(--padding) 0;
}





.projects {
    padding: var(--padding-page);
}

.projects h2 {
    font-size: var(--font-large);
    font-family: var(--font-accent);
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card {
    background-color: var(--color-yellow);
    color: var(--color-green);
    border-radius: var(--border-radius);
    padding: var(--padding);
    width: 500px;
    height: 400px;
    font-family: var(--font-main);
}

.card img {
    width: 460px;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.token {
    background-color: var(--color-green);
    color: var(--color-yellow);
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: var(--font-small);
    width: fit-content;
    margin: 2px 0;
}

.card .content {
    padding: var(--padding) 0;
    display: flex;
    gap: 10px;
}

.card h3 {
    font-size: var(--font-large);
    font-weight: normal;
    margin: 10px 0;
}


.pricing-container {
    display: flex;
    gap: var(--padding);
}

.pricing .half {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: var(--padding);
}

.pricing-item {
    background-color: var(--color-yellow);
    color: var(--color-green);
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-family: var(--font-main);
}

.hidden {
    display: none;
}

.pricing h3 {
    font-size: var(--font-medium);
    font-family: var(--font-main);
    font-weight: normal;
    margin: 5px 0;
}

.pricing .buttons {
    display: flex;
    justify-content: center;
}

.pricing .button {
    margin-top: var(--padding);
    background-color: var(--color-green);
    color: var(--color-yellow);
}




.contact-form {
    padding: var(--padding-page);
    color: var(--color-yellow);
    font-family: var(--font-main);
    box-sizing: border-box;
}

.contact-form h2 {
    font-family: var(--font-accent);
    font-size: var(--font-large);
    font-weight: normal;
    margin-bottom: 30px;
}

.form-grid {
    display: flex;
    gap: var(--padding);
}

.left-column,
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.form-input,
.form-textarea {
    background-color: var(--color-dark);
    color: var(--color-yellow);
    border: none;
    padding: 16px 20px;
    font-size: var(--font-medium);
    border-radius: var(--border-radius);
    font-family: var(--font-main);
    width: 100%;
    box-sizing: border-box;
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-yellow);
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: var(--color-yellow);
    opacity: 0.8;
}

.form-textarea {
    height: 100%;
    resize: none;
}

.contact-form .button-wrapper {
    display: flex;
    justify-content: end;
    margin-top: var(--padding);

}